.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.nivoSlider { position: relative; width: 100%; height: auto; overflow: hidden; /* If an image is wrapped in a link */ }
.nivoSlider img { position: absolute; top: 0px; left: 0px; max-width: none; }
.nivoSlider a.nivo-imageLink { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 6; display: none; background: #fff; }

.nivo-main-image { display: block !important; position: relative !important; width: 100% !important; }

/* The slices and boxes in the Slider */
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; top: 0; }

.nivo-box { display: block; position: absolute; z-index: 5; overflow: hidden; }
.nivo-box img { display: block; }

/* Caption styles */
.nivo-caption { display: none; }

.nivo-html-caption { display: none; }

/* slideshow edit */
.slideshow_container { overflow: hidden; }
.slideshow_container .pos-slideshow { position: relative; padding-bottom: 35px; }
@media (max-width: 1199px) { .slideshow_container .pos-slideshow { padding-bottom: 0; } }
.slideshow_container .pos-slideshow .flexslider { position: relative; }
.slideshow_container .pos-slideshow .nivo-directionNav a { display: block; width: 40px; height: 70px; line-height: 70px; border: 0; background: rgba(0, 0, 0, 0.15); color: white; text-align: center; font-size: 21px; position: absolute; z-index: 9; cursor: pointer; top: 45%; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px; border-radius: 25px; }
@media (max-width: 640px) { .slideshow_container .pos-slideshow .nivo-directionNav a { display: none; } }
.slideshow_container .pos-slideshow .nivo-directionNav a.nivo-prevNav { left: 10px; }
.slideshow_container .pos-slideshow .nivo-directionNav a.nivo-nextNav { right: 10px; }
.slideshow_container .pos-slideshow .nivo-directionNav a:hover { background: #fe0000; }
.slideshow_container .pos-slideshow .nivo-controlNav { position: absolute; bottom: 1.1vw; left: 0; width: 100%; text-align: center; z-index: 10; }
.slideshow_container .pos-slideshow .nivo-controlNav a { display: inline-block; margin: 0 3px; cursor: pointer; font-size: 0; width: 13px; height: 13px; background: #ebebeb; -webkit-box-shadow: inset 0 0 0 3px #acacac; -moz-box-shadow: inset 0 0 0 3px #acacac; box-shadow: inset 0 0 0 3px #acacac; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }
.slideshow_container .pos-slideshow .nivo-controlNav a.active, .slideshow_container .pos-slideshow .nivo-controlNav a:hover { background: #fff; -webkit-box-shadow: inset 0 0 0 3px #fe0000; -moz-box-shadow: inset 0 0 0 3px #fe0000; box-shadow: inset 0 0 0 3px #fe0000; }
.slideshow_container .pos-slideshow .pos-slideshow-readmore { position: absolute; z-index: 9; top: 0; left: 0; right: 0; bottom: 0; }
.slideshow_container .pos-slideshow .pos-slideshow-readmore a { display: block; position: absolute; z-index: 9; top: 0; left: 0; right: 0; bottom: 0; font-size: 0; }

.pos-slideshow-info { position: absolute; top: 17vw; left: 0; right: 0; margin: 0 auto; max-width: 50%; z-index: 10; text-align: center; }
.pos-slideshow-info .desc_center { display: inline-block; text-align: left; overflow: hidden; }
.pos-slideshow-info .desc_center .txt1 { font-size: 8.35vw; line-height: 6vw; letter-spacing: 0.02em; font-weight: 900; color: #222222; opacity: 0.75; text-transform: uppercase; -webkit-animation: zoomIn 1000ms ease; -moz-animation: zoomIn 1000ms ease; -ms-animation: zoomIn 1000ms ease; -o-animation: zoomIn 1000ms ease; animation: zoomIn 1000ms ease; }
