@import "compass";
@import "theme_variables";

$parent-item: 40px;
$col-width: 160px;
$title-height: 35px;
$menu_border: #303030;

.megamenu_container{
	float: right;
	position: relative;
	margin: 43px 0 49px 19px;
	@media (max-width: $screen-xs-max){
		margin: 25px 0 0;
	}
	.btn_tgl{
		display: block;
		font-size: 24px;
		line-height: 33px;
		color: $dark-color;
		&.active, &:hover{
			color: $main-color;
		}
	}
}
#index .content_tgl{
	bottom: 0;
}
.content_tgl{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 370px;
	background: #f7f7f7;
	padding-bottom: 30px;
	z-index: 10000;
	@include transition(all 300ms ease);
	@media (max-width: $screen-xs-max){
		display: block !important;
		position: static;
		background: none;
		padding: 0;
		width: auto;
	}
	.close_box{
		position: relative;
		margin: 15px;
		float: right;
		z-index: 999;
		cursor: pointer;
		display: block;
		width: 31px;
		height: 31px;
		@include transition(all 500ms ease);
		@media (max-width: $screen-xs-max){
			display: none;
		}
		&:before, &:after{
			content: "";
			display: block;
			position: absolute;
			@include transform(rotate(45deg));
		}
		&:before{
			top: 14px;
			right: 0;
			width: 100%;
			border-bottom: 3px solid $dark-color;
		}
		&:after{
			top: 0;
			right: 14px;
			height: 100%;
			border-right: 3px solid $dark-color;
		}
	}
}
.pt_custommenu{
	clear: both;
	position: relative;
	line-height: 1;
	.pt_menu{
		display: block;
		text-align: left;
		vertical-align: bottom;
		position: relative;
		.parentMenu {
			a{
				display: block;
				overflow: hidden;
				position: relative;
				margin: 0;
				padding: 0 15px 0 41px;
				line-height: $parent-item;
				color: $dark-color;
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font:{
					size: 18px;
					weight: 700;
				}
				i{
					&:before{
						content: "\f107";
					}
				}
			}
		}
		.popup{
			position: absolute;
			background: $light-background;
			border: $main-border;
			top: 0 !important;
			left: auto !important;
			right: 100%;
			@media (max-width: $screen-md-max){
				width: 462px !important;
			}
			@media (max-width: $screen-sm-max){
				width: 100% !important;
			}
			.block1{
				overflow: hidden;
				float: left;
				padding: 30px;
				.column{
					float: left;
					width: $col-width;
					padding: 0;
					margin: 0 20px;
					margin-bottom: -99999px;
					padding-bottom: 99999px;
					.itemMenuName{
						@extend .oneline;
						color: $dark-color;
						line-height: $title-height;
						text-transform: capitalize;
						margin-bottom: 15px;
						border-bottom: $main-border;
						font-weight: 600;
						font:{
							size: 16px;
						}
						&:hover{
							color: $main-color;
						}
						&.nochild{
							padding: 0;
							background: none;
							border-bottom: 0;
							margin: 0;
						}
					}
					.itemSubMenu{
						padding: 0;
						.itemMenuName{
							line-height: 35px;
							padding: 0;
							text-transform: capitalize;
							background: none;
							color: #777;
							border-bottom: 0;
							margin: 0;
							font:{
								size: 15px;
								weight: 600;
							}
							&:before{
								content: "\f101";
								display: block;
								line-height: 35px;
								float: left;
								padding-right: 7px;
								font:{
									family: $font-icon;
									size: 12px;
									weight: 400;
								}
							}
							&:hover{
								color: $main-color;
							}
						}
					}
				}
			}
		}
		&.act, &.active{
			.parentMenu a{
				color: $main-color;
			}
		}
	}
}

.pt_custommenu_mobile{
	text-align: left;
	position: static;
	background: $dark-background;
	padding: 0 15px;
	margin: 30px 0;
    clear: both;
    float: left;
    width: 100%;
	.navbar{
		min-height: $title-height;
		margin: 0;
		border: 0;
		position: static;
		.navbar-inner{
			.btn-navbar{
				display: block;
				color: $light-text-color;
				@extend .oneline;
				position: relative;
				margin: 0;
				line-height: 55px;
				text-transform: uppercase;
				font:{
					size: 14px;
					weight: 600;
				}
				&:after{
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					width: $title-height;
					height: $title-height;
					text-align: center;
					color: $light-text-color;
					font:{
						size: 15px;
						weight: 400;
						family: $font-icon;
					}
				}
			}
			&.navbar-inactive .btn-navbar:after{
				content: "\f055";
			}
			&.navbar-active .btn-navbar:after{
				content: "\f056";
			}
		}
	}
}
ul#pt_custommenu_itemmobile{
	overflow: hidden;
	margin: 0 0 15px;
	padding: 0;
	li{
		background: #fff;
		cursor: pointer;
		list-style-type: none;
		padding: 0 20px;
		margin: 0;
		display: block;
		position: relative;
		a{
			@extend .oneline;
			line-height: $title-height;
			text-transform: capitalize;
			text-decoration: none;
			font:{
				size: 15px;
				weight: 700;
			}
			&:hover{
				color: $main-color;
			}
		}
		.grower{
			position: absolute;
			top: 0;
			right: 0;
			a:after{
				display: block;
				width: $title-height;
				height: $title-height;
				text-align: center;
				color: $dark-color;
				font:{
					size: 13px;
					weight: 400;
					family: $font-icon;
				}
			}
			&.CLOSE a:after{
				content: "\f055";
			}
			&.OPEN a:after{
				content: "\f056";
			}
		}
	}
}